Repository lauraramirez220612/TeamFourHYF, pull requests merged in 2021-04, with the labels that each got.

#25 creating the LICENSE document
  LICENSE
  README.md
Labels: documentation

#30 updated schedule table to row format // please fill in
  planning/README.md
Labels: documentation

#34 ShedulleTatsiana
  planning/README.md
Labels: documentation

#33 backlog 1 version
  planning/backlog.md
Labels: documentation

#37 backlogUpdated
  planning/backlog.md
Labels: documentation

#36 Update README.md
  planning/README.md
Labels: documentation

#39 image folder added
  Image folder/Web capture_20-4-2021_165146_hackyourfuture.be.jpeg
  Image folder/Web capture_20-4-2021_165220_hackyourfuture.be.jpeg
  Image folder/Web capture_20-4-2021_165247_hackyourfuture.be.jpeg
  Image folder/Web capture_20-4-2021_165345_hackyourfuture.be.jpeg
  Image folder/Web capture_20-4-2021_165443_hackyourfuture.be.jpeg
  Image folder/Web capture_20-4-2021_165512_hackyourfuture.be.jpeg
  Image folder/Web capture_20-4-2021_165538_docs.google.com.jpeg
Labels: documentation

#40 Project definition readme added
  README.md
Labels: documentation

#41 addedWireframePNG
  planning/Week-2 wireframe.png
  planning/Week1-wireframe.png
Labels: documentation

#58 Retrospective Part 1
  planning/retrospective.md
Labels: documentation

#71 updating dev-strategy
  planning/README.md
  planning/about-sections.png
  planning/development-strategy.md
  planning/homepage-sections.png
  planning/program-sections.png
Labels: documentation

#72 created header html & css
  css/styles.css
  img/logo.svg
  index.html
Labels: css, homepage, html

#81 added section8 html & css
  css/styles.css
  index.html
Labels: css, homepage, html

#86 created map html & css
  css/styles.css
  index.html
Labels: css, homepage, html

#82 adding section 1 to the html and css files
  css/styles.css
  img/section2-img.png
  index.html
Labels: css, homepage, html

#87 Section7 content
  css/styles.css
  index.html
Labels: css, homepage, html

#89 program and about files
  about.html
  program.html
Labels: css, html, program

#92 creatinig the footer
  css/styles.css
  index.html
Labels: css, homepage, html

#85 Section 3
  css/styles.css
  index.html
Labels: css, homepage, html

#88 section5 / one card created with html & css
  css/styles.css
  index.html
Labels: css, homepage, html

#91 Section 6
  css/styles.css
  index.html
Labels: css, homepage, html

#93 add footer to about and program
  about.html
  program.html
Labels: about, css, html, program

#94 section1AB html & css added
  about.html
  css/styles.css
Labels: about, css, html

#95 section2AB html & css added
  about.html
  css/styles.css
Labels: about, css, html

#97 Section3 ABOUT page
  about.html
  css/styles.css
Labels: about, css, html

#99 Section4 p
  css/styles.css
  img/section4P-1img.jpeg
  program.html
Labels: css, html, program

#101 Section4 p
  program.html
Labels: css, html, program

#100 add volunteer file
  about.html
  index.html
  program.html
  volunteer.html
Labels: about, css, homepage, html, program, volunteer

#96 try to update everything
  css/styles.css
  index.html
Labels: css, homepage, html

#102 Section4AB
  about.html
  css/styles.css
Labels: about, css, html

#103 Donation box added
  css/styles.css
  index.html
Labels: homepage

#104 modifing the footer content according the updates on HYF original website
  FooterText
  about.html
  css/styles.css
  index.html
  program.html
  volunteer.html
Labels: about, css, homepage, html, program, volunteer

#105 section1 program added
  css/styles.css
  program.html
Labels: program

#108 section1V
  css/styles.css
  volunteer.html
Labels: css, html, volunteer

#110 adding section v2 of volunteer page
  css/styles.css
  images/Vol-SC2-1.svg
  images/Vol-SC2-2.svg
  images/Vol-SC2-3.svg
  images/Vol-SC2-4.svg
  volunteer.html
Labels: css, html, volunteer

#112 added apply btn to all pages
  about.html
  css/styles.css
  index.html
  program.html
  volunteer.html
Labels: about, css, homepage, html, program, volunteer
